
.main {}

.hero {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.hero-img {
    object-fit: cover;
}

.hero-img img {
    width: 100%;
    height: auto;
}

.hero-content {
    margin: 1rem 18rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-group {
    display: flex;
    gap: 3rem;
    flex-direction: column;
}

.hero-group h2 {
    font-weight: 700;
    font-size: var(--font-size-4xl);
    color: var(--color-primary-text);
}

.hero-info {
    display: flex;
    gap: 12rem;
}

.info-text p {
    font-weight: 400;
    font-size: var(--font-size-base);
    color: var(--color-muted);
}

.info-text span {
    font-weight: 700;
    font-size: var(--font-size-lg);
    color: var(--color-primary-text);
}

.account-pic {
    width: 10rem;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background: var(--color-ice-blue);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: var(--font-size-4xl);
    position: relative;
}

.edit-pic {
    position: absolute;
    bottom: 1.1rem;
    right: 1.1rem;
    transform: translate(25%, 25%);
    width: 2rem;
    aspect-ratio: 1 / 1;
    background: #2c3e50;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.edit-pic svg {
    width: 1.5rem;
    aspect-ratio: 1 / 1;
}




/* main content */

.content {
    /* min-width: 20rem; */
    display: flex;
    align-items: flex-start;
    gap: 2rem;
    border-radius: 0.5rem;
    overflow: hidden;
    border: 1px solid var(--color-border);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);

    margin: 1rem 16rem;
    padding: 2rem;
}

.content-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.content-info h3 {
    font-weight: 700;
    font-size: var(--font-size-3xl);
    color: var(--color-primary-text);
}

.info {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.info p {
    font-weight: 400;
    font-size: var(--font-size-sm);
    color: var(--color-muted);
}

.info-container {
    border-radius: 0.5rem;
    height: 2.7rem;
    width: 20rem;
    overflow: hidden;
    border: 1px solid var(--color-border);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 0 0 0 1rem;
}

.info-content {
    border: none;
    outline: none;
    background: transparent;
    pointer-events: none; 
    font-weight: 600;
    font-size: var(--font-size-base);
    color: var(--color-primary-text);
}

.info-content.editable {
  pointer-events: auto; 
  background: #fff;     
}

.edit-btn {
    height: 100%;
    background-color: var(--color-secondary-bg);
    font-weight: 600;
    font-size: var(--font-size-base);
    color: var(--color-medium-blue);
    padding: 0.3rem 0.75rem;
    border-radius: 4px;
    cursor: pointer;
}

.content-img {
    margin: 0 auto;
    max-width: 24rem;
    align-self: center;
    object-fit: cover;
    border-radius: .5rem;
    overflow: hidden;
}

.content-img img {}