@font-face {
  font-family: 'rejecting-creations';
  src: url('../fonts/rejecting-creations-font/RejectingCreationsDemoRegular-0vod4.otf') format('opentype'),
       url('../fonts/rejecting-creations-font/RejectingCreationsDemoRegular-e9GMx.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'weird_words';
  src: url('../fonts/weird_words/WeirdWordsDEMO.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

